<?xml version="1.0"?>
<configuration>

  <configSections>
    
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    
  </configSections>

  <appSettings>
    <add key="log4net.Internal.Debug" value="false" />
  </appSettings>

  <log4net>
    <root>
      <level value="WARN"/>
      <!--<appender-ref ref="RollSize"/>-->
      <!--<appender-ref ref="RollDate"/>-->
      <appender-ref ref="File"/>
      <!--<appender-ref ref="Debug"/>-->
      <!--<appender-ref ref="Colored"/>-->
      <!--<appender-ref ref="Console"/>-->
      <!-- appender-ref ref="RollingLogFileAppender"/ -->
    </root>

    <appender name="RollSize" type="log4net.Appender.RollingFileAppender">
      <file value="log/SizeLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.SimpleLayout" />
    </appender>

    <appender name="RollDate" type="log4net.Appender.RollingFileAppender">
      <file value="log/DateLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="date" />
      <layout type="log4net.Layout.SimpleLayout" />
    </appender>

    <appender name="File" type="log4net.Appender.FileAppender">
      <file value="log/HelloLog.txt" />
      <appendToFile value="true" />
      <encoding value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="AppDomain[%appdomain] Class[%class] Date[%date] Exception[%exception] File[%file] Identity[%identity] Location[%location] Level[%level] Line[%line] Logger[%logger] Message[%message] Method[%method] NDC[%ndc] Property[%property{User}] Timestamp[%timestamp] Thread[%thread] Type[%type] Username[%username] Utcdate[%utcdate{ABSOLUTE}]%newline" />
      </layout>
    </appender>
    
    <appender name="Debug" type="log4net.Appender.DebugAppender">
      <immediateFlush value="true" />
      <layout type="log4net.Layout.SimpleLayout" />
    </appender>
    
    <appender name="Colored" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="FATAL" />
        <foreColor value="Red" />
        <backColor value="White" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="Cyan" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Green" />
      </mapping>
      <layout type="log4net.Layout.SimpleLayout" />
    </appender>

    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] &lt;%property{auth}&gt; - %message%newline" />
      </layout>
    </appender>
    <!-- appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="HelloLog.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="100K"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversationPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/>
      </layout>
    </appender -->


    <!-- logger name="HelloLog.Foo">
      <level value="ALL" />
    </logger -->

  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
</configuration>
