ul{list-style:none}

li{clear:both;}

li>b, li>span{
	display: block;
	float: left;
	width: 100px;
}

li>span{
	width: 500px;
	margin-left: 20px;
}

li>span[contenteditable=true]:hover{
	background-color: #ffc;
}

li>span[contenteditable=true]:focus{
	background-color: #ffa;
	border: 1px shaded #000
}
