<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DbConnection" value="Server=.\SQLEXPRESS;initial catalog=NHibernateSketches;Integrated Security=SSPI"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
