<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net">
      <object id="FormatNumber" type="HelloSpring.FormatNumber" />
      <object id="MultiplesOf3" type="HelloSpring.FormatMultiplesOf3" />
      <object id="MultiplesOf5" type="HelloSpring.FormatMultiplesOf5" />
      <object id="MultiplesOf15" type="HelloSpring.FormatMultiplesOf3And5" />
      <object id="FizzBuzzGenerator" type="HelloSpring.FizzBuzzGenerator" autowire="constructor">
        <constructor-arg name="formatters">
          <list>
            <ref object="MultiplesOf15" />
            <ref object="MultiplesOf5" />
            <ref object="MultiplesOf3" />
            <ref object="FormatNumber" />
          </list>
        </constructor-arg>
      </object>
    </objects>
  </spring>
</configuration>